css * {
    margin: 0;
    padding: 0;
}

.logo {

    max-width: 15%;
    margin-left: 0%;
    padding-left: 0%;
}

.contato {
    margin: 0px;
    padding: 0px;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
}

ul:hover {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    background-color:#947F57
}

a:hover{
    padding: 15px;
}


